<section class="sectionCategorias">
    <div class="navMenu">
        <a class="menuItem" href="#">
            <img class="menuIcon" src="../../media/menuCategorias/electronica.svg" alt="">
            <span class="textMenu">Electrónica</span>
        </a>
        <a class="menuItem" href="#">
            <img class="menuIcon" src="../../media/menuCategorias/alimentos.svg" alt="">
            <span class="textMenu">Alimentos</span>
        </a>
        <a class="menuItem" href="#">
            <img class="menuIcon" src="../../media/menuCategorias/bebidas.svg" alt="">
            <span class="textMenu">Bebidas</span>
        </a>
        <a class="menuItem" href="#">
            <img class="menuIcon" src="../../media/menuCategorias/indumentaria.svg" alt="">
            <span class="textMenu">Indumentaria</span>
        </a>
        <a class="menuItem" href="#">
            <img class="menuIcon" src="../../media/menuCategorias/juegos.svg" alt="">
            <span class="textMenu">Juegos</span>
        </a>
        <a class="menuItem" href="#">
            <img class="menuIcon" src="../../media/menuCategorias/automotor.svg" alt="">
            <span class="textMenu">Automotor</span>
        </a>
        <a class="menuItem" href="#">
            <img class="menuIcon" src="../../media/menuCategorias/hogar.svg" alt="">
            <span class="textMenu">Hogar</span>
        </a>
        <a class="menuItem" href="#">
            <img class="menuIcon" src="../../media/menuCategorias/otros.svg" alt="">
            <span class="textMenu">Otros</span>
        </a>
    </div>
</section>