<ul class="sectionCard">
    <a class="linkCard" href="#">
        <li class="card">
            <img class="cardImg" src="../../media/card/coke.jpeg" alt="Coca">
            <article class="cardText">
                <div class="descriptionCard">
                    <h4>Coca Cola Lata 220mL Pack Original x8</h4>
                </div>
                <div class="priceCard">
                    <span>760</span>
                    <span>PUNTOS</span>
                </div>
            </article>
        </li>
    </a>
    <li class="card">
        <img class="cardImg" src="../../media/card/example.png" alt="example">
        <article class="cardText">
            <div class="descriptionCard">
                <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
            </div>
            <div class="priceCard">
                <span>XX.XXX</span>
                <span>PUNTOS</span>
            </div>
        </article>
    </li>
    <li class="card">
        <img class="cardImg" src="../../media/card/example.png" alt="example">
        <article class="cardText">
            <div class="descriptionCard">
                <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
            </div>
            <div class="priceCard">
                <span>XX.XXX</span>
                <span>PUNTOS</span>
            </div>
        </article>
    </li>
    <li class="card">
        <img class="cardImg" src="../../media/card/example.png" alt="example">
        <article class="cardText">
            <div class="descriptionCard">
                <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
            </div>
            <div class="priceCard">
                <span>XX.XXX</span>
                <span>PUNTOS</span>
            </div>
        </article>
    </li>
</ul>