<footer class="footer">
  <div class="social-networks">
    <a href=""
      ><img class="twitter-logo" src="/images/twitter.png" alt="twitter icon"
    /></a>
    <a href="#"
      ><img class="facebook-logo" src="/images/facebook.png" alt="facebook icon"
    /></a>
    <a href="#"
      ><img class="insta-logo" src="/images/insta.png" alt="instagram icon"
    /></a>
    <a href="#"
      ><img class="youtube-logo" src="/images/youtube.png" alt="youtube icon"
    /></a>
  </div>

  <p class="derechos-reservados">
    © MiEcommerce. Todos los derechos reservados.
  </p>

  <div class="app-stores">
    <a href="#"
      ><img class="apple-logo" src="/images/apple.png" alt="" /> App Store</a
    >
    <a href="#"
      ><img class="googleplay-logo" src="/images/googleplay.png" alt="" />Google
      Play</a
    >
  </div>
</footer>
