
<footer class="footer">

<div class="social-networks">

<img src="images/twitter.png" alt="twitter icon">
<img src="images/facebook.png" alt="facebook icon">
<img src="images/insta.png" alt="instagram icon">
<img src="images/youtube.png" alt="youtube icon">

</div>

<p class="derechos-reservados">© MiEcommerce. Todos los derechos reservados.</p>


<div class="app-stores">
    
    <a  href=><img src="images/apple.png" alt="">
        App Store</a>
    <a  href=""><img src="images/googleplay.png" alt="">Google Play</a>


</div>



</footer>