<header class="header-1">
    <figure><a class="logoLink" href="/"><span class="logo1">Mi</span><span class="logo2">E</span><span class="logo2 desktop">commerce</span></a></figure>
    <div class="buscador">
        <input class="input-buscador" type="text" placeholder="Buscar productos...">
        <img class="img-lupa" src="/images/magnify.svg" alt="vector-lupa">
    </div>
    <div class="contenedor-botones-header">
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> cc9534733499541defc655c997ce50a9362f4f44
        <a href="/users/cart"><button type="submit" class="boton-carrito"><img src="/images/cart-vector.svg" alt="vector carrito"></button></a>
        <a href="/users/login" id="anchor-sesion"><input type="button" class="botones-gral" id="boton-user" value="Iniciar Sesión"></a>
    </div>
</header>
<<<<<<< HEAD
=======
        <a><button type="button" class="botonUsuario"><img src="/images/" alt="usuario"></button></a>
=======
        <a href="/users/cart"><button type="submit" class="boton-carrito  userLogin"><img src="/images/cart-vector.svg" alt="vector carrito"></button></a>
>>>>>>> f9e8fae54b3d0771399e4b781e2d7f929358a54c
        <a href="/users/login"><input type="button" class="botones-gral" id="boton-user" value="Iniciar Sesión"></a>
    </div>
    <script src="/js/menuPrincipal.js"></script>
</header>
>>>>>>> cc9534733499541defc655c997ce50a9362f4f44
