<header class="header-1">
    <figure><a class="logoLink" href="/"><span class="logo1">Mi</span><span class="logo2">Ecommerce</span></a></figure>
    <div class="buscador">
        <input class="input-buscador" type="text" placeholder="Buscar productos...">
        <img class="img-lupa" src="/images/magnify.svg" alt="vector-lupa">
    </div>
    <div class="contenedor-botones-header">
        <a href="/users/cart"><button type="submit" class="boton-carrito"><img src="/images/cart-vector.svg" alt="vector carrito"></button></a>
        <a href="/users/login" id="anchor-sesion"><input type="button" class="botones-gral" id="boton-user" value="Iniciar Sesión"></a>
    </div>
</header>
        <a><button type="button" class="botonUsuario"><img src="/images/" alt="usuario"></button></a>
        <a href="/users/login"><input type="button" class="botones-gral" id="boton-user" value="Iniciar Sesión"></a>
    </div>
    <script src="/js/menuPrincipal.js"></script>
</header>
