<ul class="sectionCard">
    <a class="linkCard" href="/products">
        <li class="card">
            <img class="cardImg" src="../../media/card/daniels.png" alt="Jack daniels">
            <article class="cardText">
                <div class="descriptionCard">
                    <h4>Whiskey Jack Daniels Honey 750ml</h4>
                </div>
                <div class="priceCard">
                    <span>19.900</span>
                    <span>PUNTOS</span>
                </div>
            </article>
        </li>
    </a>
    <li class="card">
        <img class="cardImg" src="../../media/card/example.png" alt="example">
        <article class="cardText">
            <div class="descriptionCard">
                <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
            </div>
            <div class="priceCard">
                <span>XX.XXX</span>
                <span>PUNTOS</span>
            </div>
        </article>
    </li>
    <li class="card">
        <img class="cardImg" src="../../media/card/example.png" alt="example">
        <article class="cardText">
            <div class="descriptionCard">
                <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
            </div>
            <div class="priceCard">
                <span>XX.XXX</span>
                <span>PUNTOS</span>
            </div>
        </article>
    </li>
    <li class="card">
        <img class="cardImg" src="../../media/card/example.png" alt="example">
        <article class="cardText">
            <div class="descriptionCard">
                <h4>NOMBRE DEL PRODUCTO O SERVICIO</h4>
            </div>
            <div class="priceCard">
                <span>XX.XXX</span>
                <span>PUNTOS</span>
            </div>
        </article>
    </li>
</ul>