<div id="menu-perfil" class="menu hide">
        <a class="link-usuario"><img src="" alt="Foto de usuario">Usuario</a>
        <a>Inicio</a>
        <a>Mis Compras</a>
        <a>Favoritos</a>
        <a class="link-historial">Historial</a>
        <div class="separador"></div>
        <%- include('../partials/switch.ejs') %>
</div>