<div class="menuUsuario">
    <ul>
        <li><h4 class="usuario">Usuario</h4></li>
        <li>Inicio</li>
        <li>Mis Compras</li>
        <li>Favoritos</li>
        <li>Historial</li>
        <li><p class="cambiarTema"><a>Cambiar a Tema Oscuro</a></p></li>
    </ul>
</div>