<div id="menu-perfil" class="hide">
    
        <a class="link-usuario"><img src="" alt="Foto de usuario">Usuario</a>
        <a class="link-inicio">Inicio</a>
        <a class="link-compras">Mis Compras</a>
        <a class="link-fav">Favoritos</a>
        <a class="link-historial">Historial</a>
        <a class="link-dark">Cambiar a Tema Oscuro</a>
    
</div>  

<script src="/js/menuPrincipal.js"></script>
