<dvi>
    <figure>
        <a href="#">
            <img src="" alt="">
            <h3>50% OFF en Combo Plus</h3>
            <p>Canjeando 50.000 puntos MiEcommerce.</p>
        </a>
    </figure>
</dvi>