<section class="sectionAd">
    <div class="containerCard1">
        <a class="cardAd" href="#">
            <figure class="containerAd">
                <img class="mediaAD"src="../../media/productCard/disneybrand.png" alt="HBO MAX">
            </figure>
            <div class="textCard">
                <h3 class="titleCard">50% OFF en Combo Plus</h3>
                <p>Canjeando 50.000 puntos</p>
                <span>MiEcommerce.</span>
            </div>
        </a>
    </div>
    <div class="containerCard2">
        <a class="cardAd" href="#">
            <figure class="containerAd">
                <img class="mediaAD"src="../../media/productCard/hbobrand.png" alt="HBO MAX">
            </figure>
            <div class="textCard">
                <h3 class="titleCard">50% OFF en Combo Plus</h3>
                <p>Canjeando 50.000 puntos</p>
                <span>MiEcommerce.</span>
            </div>
        </a>
    </div>
</section>