<button class="themeButton" type="button" id="themeButton" value="darkMode">
    <span class="ligthSwitch">
        <i class="fa-solid fa-sun"></i>
    </span>
    <span class="darkSwitch">
        <i class="fa-solid fa-moon"></i>
    </span>
    <span class="darkSwitch">Cambiar a Tema Oscuro</span>
    <span class="ligthSwitch">Cambiar a Tema Claro</span>

</button>