

<button type="button" id="themeButton" value="darkMode">
    <span class="ligthSwitch">
        <i class="fa-solid fa-sun"></i>
    </span>
    <span class="darkSwitch">
        <i class="fa-solid fa-moon"></i>
    </span>
</button>