@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
/*Imports de Pages*/
@import url("./pages/loginRegister.css");
@import url("./pages/index.css");
@import url("./pages/products.css");
@import url("./layaout/product-card.css");
@import url("./layaout/ad-card.css");
@import url("./layaout/menu-categories.css");
@import url("./layaout/footer.css");
@import url("./pages/404.css");
@import url("./pages/404product.css");
@import url("./pages/cart.css");
@import url("./pages/menuPrincipal.css");
/*Imports de Layouts*/
@import url("./layaout/product-card.css");
@import url("./layaout/ad-card.css");
@import url("./layaout/menu-categories.css");
@import url("./layaout/header1.css");
@import url("./layaout/header.css");
/*Hoja de reset*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

/* lo consumen todas las páginas */
.footerContainer {
  border-top: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}
