@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.homeBody {
  background-color: #efefef;
}
/*Estilo de barra categorias*/
.menuCategoriesTop {
  margin-top: 128px;
}
.menuCategoriesBot {
  margin: 48px 0 48px 0;
}
.sectionCategorias {
  display: flex;
  justify-content: center;
}
.navMenu {
  align-items: center;
  background-color: #333333;
  border-radius: 16px;
  display: flex;
  height: 128px;
  justify-content: space-around;
  width: 1024px;
  padding: 15px 0;
}
.menuItem {
  align-items: center;
  border-right: 2px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 16px;
  height: 100%;
  justify-content: center;
  position: relative;
  text-decoration: none;
}
.menuItem:last-child {
  border: none;
}
.textMenu {
  bottom: 20px;
  position: absolute;
}
.menuIcon {
  bottom: 50px;
  position: absolute;
}
/*Section card*/
.sectionAd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}
/*Estilo de Product Card*/
.sectionAd {
  background-color: #0cb093;
  position: relative;
  z-index: -2;
  margin-top: 56px;
  margin-bottom: 16px;
  padding-bottom: 24px;
}
.sectionAd::before {
  content: "";
  position: absolute;
  background-color: #efefef;
  top: 0%;
  right: 0%;
  bottom: 90%;
  left: 0%;
  z-index: -1;
}
.containerCard1 {
  align-items: flex-end;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.246) 0%,
      rgba(0, 0, 0, 0.155) 35%,
      rgba(0, 0, 0, 0.06235997817095584) 100%
    ),
    url("../media/productCard/disneybg.jpg");
  background-size: cover;
  border-radius: 16px;
  display: flex;
  height: 256px;
  width: 504px;
}
.containerCard2 {
  align-items: flex-end;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.246) 0%,
      rgba(0, 0, 0, 0.155) 35%,
      rgba(0, 0, 0, 0.06235997817095584) 100%
    ),
    url("../media/productCard/hbobg.jpg");
  background-size: cover;
  border-radius: 16px;
  display: flex;
  height: 256px;
  width: 504px;
}
.mediaAD {
  border-radius: 8px;
  height: 112px;
  width: 112px;
}
.cardAd {
  /*  background-color: #00000018;*/
  border-radius: 16px;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 6px;
  text-decoration: none;
  width: 100%;
}
.textCard {
  font-size: 20px;
  font-weight: 400;
  padding: 16px 8px 24px 16px;
}
.titleCard {
  font-weight: 700;
}
/*Estilo de las tarjetas de productos*/
.sectionCard {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.card {
  align-content: center;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 328px;
  padding: 8px;
  width: 244px;
}
.cardImg {
  width: 228px;
  height: 240px;
  border-radius: 8px;
}
.cardText {
  display: flex;
  flex-direction: row;
}
.descriptionCard {
  padding: 8px;
  font-size: 16px;
  font-weight: 700;
  border-right: 1px solid #00000040;
}
.priceCard {
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding-left: 8px;
  padding-top: 8px;
}
.priceCard span:nth-child(2) {
  font-size: 8px;
  font-weight: 300;
}
/*Seccion de cards*/

.titleSectionProducts {
  font-size: 24px;
  font-weight: 400px;
  margin-bottom: 32px;
  margin-top: 32px;
}
/*Index*/
.containerMain {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: center;
}
.titleSectionProducts {
  font-weight: 400;
}
.blockProcuts {
  padding-bottom: 16px;
}
.sectionInteres {
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.body-cart {
  background-color: #efefef;
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 442px;
  justify-content: space-between;
  width: 80vw;
}
.ul-carrito {
  display: flex;
  flex-direction: column;
  height: 270px;
  justify-content: space-between;
}
.header-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  height: 64px;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 100vw;
  padding: 0px 16px;
}
::-webkit-scrollbar {
  display: none;
}
.logo1 {
  font-size: 24px;
  font-weight: 800;
  color: #0cb093;
  letter-spacing: -0.1em;
}
.logo2 {
  font-size: 24px;
  color: #0cb093;
  letter-spacing: -0.1em;
  font-weight: 300;
}
.input-buscador {
  height: 32px;
  width: 70vw;
  top: calc(50% - 32px / 2);
  padding: 8px 16px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 16px;
}
.buscador {
  position: relative;
}
.img-lupa {
  position: absolute;
  right: 10px;
  top: 4px;
  color: rgba(0, 0, 0, 0.5);
}
.contenedor-botones-header {
  display: flex;
  gap: 8px;
}
.main-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
/* Div con la flecha y h4 que dice "Volver": */
.div-anchor-volver-cart {
  display: flex;
}
.anchor-volver-cart {
  align-items: center;
  color: black;
  display: flex;
  text-decoration: none;
}
/* Elementos li con los productos en carrito: */
.div-producto {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 80px;
}
/* Etiqueta article dentro de los li: */
.article-cart {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  width: 100%;
}
/* Cartel de "Volver" y nombres de productos: */
.h4-cart {
  margin-left: 7px;
}
.caja-article1 {
  align-items: center;
  display: flex;
}
.caja-article2 {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 325px;
}
/* Precios de cada li y del total a pagar: */
.h3-cart {
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
}
/* Div con cantidad de un producto que compra: */
.cantidad-prod {
  align-items: center;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  height: 32px;
  justify-content: space-evenly;
  width: 80px;
}
.p-cart {
  font-size: 12px;
}
.letra-contador {
  font-weight: 700;
}
/* Caja de las imágenes: */
.caja-img-producto {
  display: flex;
  height: 64px;
  justify-content: center;
  width: 63.82px;
}
/* Imagen de lata de coca: */
.img-coca {
  border-radius: 8px;
}
/* Caja de total: */
.caja-total-puntos {
  align-self: flex-end;
  display: flex;
  gap: 24px;
  margin: 20px 0px;
  padding-right: 16px;
}
.botones-gral {
  align-items: center;
  background: rgba(73, 79, 81, 1);
  border-radius: 16px;
  border: 2px solid rgba(73, 79, 81, 1);
  color: rgba(255, 255, 255, 1);
  flex-direction: column;
  font-size: 12px;
  height: 32px;
  justify-content: center;
  padding: 8px 16px;
  transition: ease-in-out 300ms all;
  width: 110px;
}
.boton-pagar {
  align-self: flex-end;
}
.btn-quitar {
  width: 78px;
}
.boton-carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(73, 79, 81, 1);
  border: 1px solid rgba(73, 79, 81, 1);
  transition: ease-in-out 300ms all;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.botones-gral:hover,
.boton-carrito:hover {
  background: rgba(12, 176, 147, 1);
  border: 2px solid rgba(12, 176, 147, 1);
}

/* FOOTER */
.footerContainer {
  border-top: 1px solid #cccccc;
  display: flex;
  justify-content: center;
}
.footer {
  background-color: #efefef;
  height: 64px;
  width: 1024px;
  margin-left: 128px;
  margin-right: 128px;
  color: #999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(4px);
  font-size: 12px;
  text-align: center;
}
.social-networks {
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 23px;
}
.twitter-logo {
  width: 20.92px;
  height: 17px;
}
.facebook-logo {
  width: 20px;
  height: 19.92px;
}
.insta-logo {
  width: 20px;
  height: 20px;
}
.youtube-logo {
  width: 20px;
  height: 14px;
}
.app-stores {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-stores a {
  margin-left: 16px;
  text-decoration: none;
  color: #999999;
}
.app-stores > a > img {
  vertical-align: middle;
  margin-right: 7px;
}
.apple-logo {
  width: 16.23px;
  height: 20px;
}
.googleplay-logo {
  width: 17.75px;
  height: 19.7px;
}
.app-stores a:visited {
  color: #999999;
}
/*PRODUCTS*/
.product-body {
  background-color: #efefef;
}
/*Main de Productos*/
.main-products-container-wide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 81px;
}
.navigation-container {
  display: flex;
  margin-bottom: 9px;
}
.anchor-return,
.nav-category {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.navigation {
  list-style: none;
}
.main-product-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  height: 536px;
  width: 1024px;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navigation-container img {
  margin-left: 9px;
  margin-right: 9px;
}
.left-side-img-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: space-around;
  margin: 8px 8px 0 8px;
  width: 48px;
  height: 160px;
}
.image-1,
.image-2,
.image-3 {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.image1-container,
.image2-container,
.image3-container {
  width: 48px;
  height: 48px;
}
.main-picture-container {
  height: 520px;
  width: 640px;
  margin: 8px 8px 8px 0;
}
.main-image {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
.right-description-container {
  width: 304px;
  border-radius: 8px;
  border: solid 1px rgba(204, 204, 204, 1);
  margin: 8px 8px 8px 0;
}
.product-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  margin: 8px 8px 16px 8px;
}
.points {
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px 10px 24px 8px;
}
.points-text {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.add-cart-button {
  background-color: #494f51;
  color: rgba(255, 255, 255, 1);
  display: block;
  height: 32px;
  width: 288px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 16px;
  border-style: none;
  margin: 0px 8px 16px 8px;
  transition: ease-in-out 300ms all;
}
.add-cart-button:hover {
  background: rgba(12, 176, 147, 1);
  border: 2px solid rgba(12, 176, 147, 1);
}
.text-description-container {
  height: 288px;
  width: 288px;
  margin: 0px 8px 8px 8px;
}
.text {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  margin-top: 8px;
}
/*Sección Te puede interesar-Products*/
.suggestions-section-wide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
