.body-cart {
    background-color: #efefef;
}
.main-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.main-container {
    display: flex;
    flex-direction: column;
    height: 442px;
    justify-content: space-between;
    width: 80vw;
}
.ul-carrito {
    display: flex;
    flex-direction: column;
    height: 270px;
    justify-content: space-between;
}
/* Div con la flecha y h4 que dice "Volver": */
.div-anchor-volver-cart {
    display: flex;
}
.anchor-volver-cart {
    align-items: center;
    color: black;
    display: flex;
    text-decoration: none;
}
/* Cartel de "Volver" y nombres de productos: */
.h4-cart {
    margin-left: 7px;
    font-weight: 400;
}
.h2-cart {
    font-weight: 400;
}
.caja-article1 {
    align-items: center;
    display: flex;
}
.caja-article2 {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 325px;
}
/* Elementos li con los productos en carrito: */
.div-producto {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    height: 80px;
}
/* Etiqueta article dentro de los li: */
    .article-cart {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    width: 100%;
}
/* Precios de cada li y del total a pagar: */
.h3-cart {
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
}
/* Div con cantidad de un producto que compra: */
.cantidad-prod {
    align-items: center;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    height: 32px;
    justify-content: space-evenly;
    width: 80px;
}
.p-cart {
    font-size: 12px;
}
.letra-contador {
    font-weight: 700;
}
/* Caja de las imágenes: */
.caja-img-producto {
    display: flex;
    height: 64px;
    justify-content: center;
    width: 63.82px;
}
/* Imagen de lata de coca: */
.img-coca {
    border-radius: 8px;
}
/* Caja de total: */
.caja-total-puntos {
    align-self: flex-end;
    display: flex;
    gap: 24px;
    margin: 20px 0px;
    padding-right: 16px;
}
.boton-pagar {
    align-self: flex-end;
}
.btn-quitar {
    width: 78px;
}