.body-cart {
    background-color: #efefef;
}
.main-cart {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.main-container {
    display: flex;
    flex-direction: column;
    width: 92vw;
}
.ul-carrito {
    display: flex;
    flex-direction: column;
}
.ul-carrito li{
    margin: 5px 0px;
}
.anchor-volver-cart {
    color: black;
    display: inline-block;
    text-decoration: none;
}
/* Cartel de "Volver" y nombres de productos: */
.h4-cart {
    margin-left: 7px;
    font-weight: 400;
}
.h2-productos{
    margin-bottom: 10px;
    font-weight: 400;
}
/* Elementos li con los productos en carrito: */
.caja-article1 {
    align-items: center;
    display: flex;
}
.caja-article2 {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.div-producto {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    height: 112px;
}
/* Etiqueta article dentro de los li: */
.article-cart {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-top: 8px;
    width: 100%;
}
/* Precios de cada li y del total a pagar: */
.h3-cart {
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
}
/* Div con cantidad de un producto que compra: */
.cantidad-prod {
    align-items: center;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    height: 32px;
    justify-content: space-evenly;
    width: 80px;
}
.p-cart {
    font-size: 12px;
}
.letra-contador {
    font-weight: 700;
}
/* Caja de las imágenes: */
.caja-img-producto {
    display: flex;
    height: 64px;
    justify-content: center;
    width: 63.82px;
}
/* Imagen de lata de coca: */
.img-coca {
    border-radius: 8px;
}
/* Caja de total: */
.caja-total-puntos {
    align-self: flex-end;
    align-items: center;
    display: flex;
    gap: 24px;
    margin: 25px 0px;
    padding-right: 16px;
}
.font-weight-total-puntos {
    font-weight: 400;
    font-size: 16px;
}
.ancla-pagar {
    align-self: flex-end;
}
.btn-quitar {
    align-items: center;
    background: rgba(73, 79, 81, 1);
    border-radius: 16px;
    border: 2px solid rgba(73, 79, 81, 1);
    color: rgba(255, 255, 255, 1);
    flex-direction: column;
    font-size: 12px;
    height: 32px;
    justify-content: center;
    padding: 8px 16px;
    transition: ease-in-out 300ms all;
    width: 78px;
}
.btn-quitar:hover {
    background: rgba(12, 176, 147, 1);
    border: 2px solid rgba(12, 176, 147, 1);
}
/*DARK MODE*/
body.dark.body-cart{
    background-color: #222222;
}
body.dark .main-container, body.dark .anchor-volver-cart{
    color: white;
}
body.dark .div-producto{
    background-color: #494F51;;
}
body.dark .cantidad-prod {
    background-color: #333333;
}
body.dark .btn-quitar{
    background-color: #333333;
}

@media (min-width: 425px){
    .caja-article2 {
        width: 325px;
        align-self: flex-end;
    }
    .font-weight-total-puntos {
        font-size: 24px;
    }
}
@media (min-width: 1024px){
    .main-container {
        width: 80vw;
    }
    .div-producto {
        height: 80px;
    }
    .article-cart {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0px;
    }
    .caja-article2 {
        align-self: auto;
    }
    .btn-quitar {
        width: 110px;
    }
}
