<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="product-body">
    <%- include('../partials/header1.ejs') %>
    <main class="mainErrorProduct">
        <section class="errorProduct">
            <img class="404product" width="200px" src="/../../images/404product.png" alt="">
            <ul class="productErrorMessage">
                <li class="errorTitle">No hay producto que coincida con tu búsqueda.</li> 
                <li><a class="buttonRedirect" href="/">Ir a la página principal</a></li>
            </ul>
        </section>
    </main>
    <script src="../../js/darkButton.js"></script>
</body>
</html>