<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cart</title>
</head>
<body class="body-cart">
    <%- include('../partials/header1') %>
    <main class="main-cart">
        <div class="main-container">
            <div class="div-anchor-volver-cart">
                <a class="anchor-volver-cart" href="/"><img src="/images/Vector.svg" alt="vector-volver"></a><a class="anchor-volver-cart" href="/"><h4 class="h4-cart">Volver</h4></a>
            </div>
            
            <h2 class="font-weight-h2 h2-productos">Productos en tu Carrito</h2>

            <ul class="ul-carrito">
                <li class="div-producto">
                    <article class="article-cart">
                        <div class="caja-article1">
                            <figure class="caja-img-producto">
                                <img src="/images/D_NQ_NP_704045-MLA44850206709_022021-O.webp" alt="imagen daniel's">
                            </figure>
                            <h4 class="h4-cart">Jack Daniel's Tennessee Honey Botella 750 mL</h4>
                        </div>
                        <div class="caja-article2">
                            <input type="button" class="botones-gral btn-quitar" value="Quitar">
                            <div class="cantidad-prod">
                                <p class="letra-contador p-cart">-</p>
                                <p class="p-cart">1</p>
                                <p class="letra-contador p-cart">+</p>
                            </div>
                            <h3 class="h3-cart">19.000</h3>
                        </div>
                    </article>
                </li>
                <li class="div-producto">
                    <article class="article-cart">
                        <div class="caja-article1">
                            <figure class="caja-img-producto">
                                <img src="/images/combohamburguesa22.jpg" alt="imagen daniel's">
                            </figure>
                            <h4 class="h4-cart">1 Combo Hamburguesa</h4>
                        </div>
                        <div class="caja-article2">
                            <input type="button" class="botones-gral btn-quitar" value="Quitar">
                            <div class="cantidad-prod">
                                <p class="letra-contador p-cart">-</p>
                                <p class="p-cart">1</p>
                                <p class="letra-contador p-cart">+</p>
                            </div>
                            <h3 class="h3-cart">5.000</h3>
                        </div>
                    </article>
                </li>
                <li class="div-producto">
                    <article class="article-cart">
                        <div class="caja-article1">
                            <figure class="caja-img-producto">
                                <img class="img-coca" src="/images/images (1).jpeg" alt="imagen daniel's">
                            </figure>
                            <h4 class="h4-cart">Coca Cola Lata 220mL Pack Original x8</h4>
                        </div>
                        <div class="caja-article2">
                            <input type="button" class="botones-gral btn-quitar" value="Quitar">
                            <div class="cantidad-prod">
                                <p class="letra-contador p-cart">-</p>
                                <p class="p-cart">2</p>
                                <p class="letra-contador p-cart">+</p>
                            </div>
                            <h3 class="h3-cart">1.520</h3>
                        </div>
                    </article>
                </li>
            </ul>

            <div class="caja-total-puntos">
                <h2 class="font-weight-h2">Total de Puntos</h2>
                <h3 class="h3-cart">26.420</h3>
            </div>
            <a href="/checkout" class="ancla-pagar"><input class="botones-gral" type="button" id="boton-pagar" value="Ir a Pagar"></a>
        </div>
    </main>
    <div class="footerContainer-1">
        <%-include('../partials/footer.ejs') %>
    </div>
</body>
</html>