<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="loginForm">
<%- include("../partials/header")%> 
    <main class="formTarjeta">
        <% if (typeof err !== "undefined") { %>
            <h2><%= err %> </h2>
        <% } %>
        <% if (typeof msj !== "undefined") { %>
            <h2><%= msj %> </h2>
        <% } %>
        <form class="login" method="post">
            <ul>
                <li><h2>¡Hola!</h2></li>
                <li><input class="entradita" type="text" placeholder="Tu nombre de usuario" required name="email"></li>
                <li><input class="entradita" type="password" placeholder="Tu contraseña" required name="pass"></li>
                <li><a href="/"><button class="boton">Iniciar Sesión</button></a></li>
            </ul>
        </form>
        <div class="enlace">
            <p>¿No tienes cuenta?<a href="register">Registrate</a></p>
        </div>
    </main>
    <div class="footerContainer-1">
        <%-include('../partials/footer.ejs') %>
    </div> 
</body>
</html>