<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/loginRegister.css">
</head>
<body>
    <main>
        <div class="login">
            <ul>
                <li><h1>¡Hola!</h1></li>
                <li><input class="entradita" type="text" placeholder="Tu nombre de usuario"></li>
                <li><input class="entradita type="password" placeholder="Tu contraseña"></li>
                <li><button class="boton">Iniciar Sesión</button></li>
            </ul>
        </div>
        <div class="enlace">
            <p>¿No tienes cuenta?<a href="register">Registrate</a></p>
        </div>
    </main>
</body>
</html>