<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/loginRegister.css">
</head>
<body>
    <main>
        <div class="login">
            <ul>
                <li><h2>¡Registrate!</h2></li>
                <li><input class="entradita" type="email" placeholder="Tu email"></li>
                <li><input class="entradita" type="password" placeholder="Tu nueva contraseña"></li>
                <li><input class="entradita" type="password" placeholder="Repite tu contraseña"></li>
                <li><button class="boton">Crear Cuenta</button></li>
            </ul>
        </div>
        <div class="enlace">
            <p>¿Ya tienes cuenta?<a href="login">Iniciar sesión</a></p>
        </div>
    </main>
</body>
</html>